article.use-cases
    .case
        .case__problem Мечтаете о собственной резиденции?
        .case__solution Идеальное место под&nbsp;усадьбу
            //- .case__solution-text Идеальное место 
            //- .case__solution-text под усадьбу
    .case
        .case__problem Интересуетесь фермерством?
        .case__solution Широкий простор для воплощения идей
            //- .case__solution-text Простор для&nbsp;шикарного&nbsp;хозяйства
            //- .case__solution-text
