nav.nav-box#nav-box-js
    a.nav-box__mobile-menu-btn(href='#')
    ul.nav-box__menu
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#gallery") Об участке
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#key-properties") Преимущества
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#map") Расположение 
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#slider") Инфраструктура
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#footer") Оставить заявку