section.gallery#gallery
    article.gallery__description
        include description/description.pug
    article.gallery__images(data-mobile-offset = '0' data-desktop-offset = '0')
        include images-list/images-list.pug
