.preloader
    .loader
        .loader__blockG.loader__blockG_rotate-1
        .loader__blockG.loader__blockG_rotate-2
        .loader__blockG.loader__blockG_rotate-3
        .loader__blockG.loader__blockG_rotate-4
        .loader__blockG.loader__blockG_rotate-5
        .loader__blockG.loader__blockG_rotate-6
        .loader__blockG.loader__blockG_rotate-7
        .loader__blockG.loader__blockG_rotate-8
        .loader__blockG.loader__blockG_rotate-9
        .loader__blockG.loader__blockG_rotate-10
        .loader__blockG.loader__blockG_rotate-11
        .loader__blockG.loader__blockG_rotate-12