.gallery__description-box
    h3.gallery__description-title Участок земли площадью 14Га в Борисоглебском районе Ярославской области рядом с деревней Маклоково
    .gallery__description-text
        p   
            | Свежий воздух, тишина, лес, речка. Идеальное место для тех, кто ценит гармонию и душевное равновесие.
        p 
            | Место, где можно реализовать любую мечту.
        p 
            | Место, где можно построить свой мир.
        p 
            | Место, где сама природа создала оазис для Вашего творчества. 
        p 
            | Предлагаем уникальный земельный участок, расположенный на землях сельскохозяйственного назначения. 
        p 
            | Прекрасное место в окружении леса с грибами и ягодами, граничащее с рекой. 
            | Естественное лесное ограждение создает ощущение изолированности и особой атмосферы, асфальтовая дорога до места въезда на участок позволяет в любое время легко добраться до него, в деревнях и поселках, расположенных по близости, есть вся необходимая инфраструктура.