doctype html
html(lang="en")
    head
        script
            include ../metrics/yandex.js
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- meta(name="robots", content="none")
        meta(name="keywords", content="купить землю, усадьба, земля под усадьбу")
        meta(name="description", content="Продается участок земли под усадьбу вблизи пос. Борисоглебское, площадь 14Га, естественные границы, недалеко есть деревня, ...")
        title Земля для воплощения мечты
    body
        block noscript 
        .wrapper 
            block browser
            .content-box.grid-container
                .row
                    block header
                .row
                    block main
                .row
                    block footer