section.map#map
    .map__map-container.map-container
        //- script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A072083d936ae2db78ed817e2a77021e03b5b7c5067f521ca1fe320242e3388d3&amp;lang=ru_RU&amp;scroll=true")
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A072083d936ae2db78ed817e2a77021e03b5b7c5067f521ca1fe320242e3388d3&amp;lang=ru_RU&amp;scroll=true")