.bad-browser 
    .bad-browser__title К сожалению Ваш браузер устарел!
    p.bad-browser__text Для корректного отображения страницы требуется более современный браузер.
    p.bad-browser__text Пожалуйста, обновите Ваш браузер или установите последнюю версию одного из самых популярных браузеров: Chrome, Firefox, Safari, Edge, Opera