section.key-properties#key-properties
    .key-properties__properties-box
        figure.key-properties__img-box
            img.key-properties__img(srcset="./img/good-air-150px.jpg 150w, ./img/good-air-365px.jpg 365w" sizes="(min-width: 768px) 365px, 150px" src="./img/good-air-365px.jpg", alt="Свежий воздух")
            figcaption.key-properties__img-caption 
                span Свежий воздух
        figure.key-properties__img-box
            img.key-properties__img(srcset="./img/location-150px.jpg 150w, ./img/location-365px.jpg 365w" sizes="(min-width: 768px) 365px, 150px" src="./img/location-365px.jpg", alt="Удобное расположение")
            figcaption.key-properties__img-caption 
                span Удобное расположение
        figure.key-properties__img-box
            img.key-properties__img(srcset="./img/profit-150px.jpg 150w, ./img/profit-365px.jpg 365w" sizes="(min-width: 768px) 365px, 150px" src="./img/profit-365px.jpg", alt="Выгодное вложение")
            figcaption.key-properties__img-caption 
                span Выгодное вложение