extends template/base.pug
block noscript 
    include blocks/noscript/noscript.pug
block browser
    include blocks/bad-browser/bad-browser.pug
block header
    include blocks/header/header.pug
block main
    include blocks/main/main.pug
block footer
    include blocks/footer/footer.pug