header.header.header_background.col
    include top-nav/top-nav.pug
    section.top-window
        article.top-window__offer-box
            include offer/offer.pug
        article.top-window__use-cases-box
            include use-cases/use-cases.pug