.slider{

}
// общий контейнер слайдера
.slider__slider-box{
    // 125px при vw:1440px; 0px при vw:320px
    margin-top: calc(100vw * (25 / 224) - (250px / 7));
    width: 100%;

    height: calc(100vw * 700 / 1440);
    background: #0F250E;
}
// общий контейнер слайдера
.slider-box{
    display: flex;
    position: relative;
}
// -------------
// заголовок слайдера
.slider-box__title{
    position: absolute;
    // top: calc(100vw * 106 / 1440);
    top: calc(100vw * 66 / 1440);
    // left: 154px; vw:1440px; left:51px; vw:768px;
    left: calc(100vw * (103 / 672) - (467px / 7));

    font-family: 'Montserrat';
    font-weight: 900;
    font-size: calc(100vw * 40 / 1440);

    line-height: calc(49 / 40);
    letter-spacing: 0.1em;
    color: #F1F5F2;

    z-index: 2;
    text-shadow: 1px 1px 15px rgba(15,37,14,0.6),
                 -1px 1px 15px rgba(15,37,14,0.6);
}

// -------------
// viewfinder контейнер для ленты со слайдами
.slider-box__tape-hiding-box{
    width: calc(100vw * 749 / 1440);
    height: calc(100vw * 554 / 1440);
    overflow: hidden;

    position: absolute;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    
    right: calc(100vw * 51 / 1440);
}

// контейнер со списком слайдов и описаниями <ul>
.tape-hiding-box__tape{
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
}

// элемент списка слайдов == контейнер для описания и картинки <li>
.tape-hiding-box__tape-item{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.7s;
    z-index: -1;
    width: calc(100vw * 749 / 1440);
    max-width: 749px;
    height: calc(100vw * 554 / 1440);
    max-height: 554px;
}
// ссылка-обёртка для некоторых слайдов
.tape-hiding-box__item-link{
    display: block;
    width: 100%;
    height: 100%;
}
// обертка для вставки карты магазинов и школ в слайдер
.tape-hiding-box__tape-item-shops{
    width: 100%;
    height: 100%;
    position:relative;
    overflow:hidden;
    >a{
        color:#eee;
        font-size:12px;
        position:absolute;
    }
    >a:first-child{
        top:0px;
    }
    >a:last-child{
        top:14px;
    }
    >iframe{
        width: 100%;
        height: 100%;
        position:relative;
    }
}

// "активный" слайд
.tape-hiding-box__tape-item_active{
    opacity: 1;
    z-index: 0;
}
// блок с картинкой
.tape-hiding-box__picture-box{
    display:block;
    width: 100%;
    height: 100%;
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        max-width: unset;
    }
}

// ------------

// блок с описанием слайдов
.slider-box__description-box{
    position: absolute;
    width: calc(100vw * 485 / 1440);
    top: calc(100vw * 186 / 1440);
    // left:154px vw: 1440 left:51px vw:768px
    // left: calc(100vw * (103 / 672) - (467px / 7));
    // left:134px vw: 1440 left:51px vw:768px
    left: calc(100vw * (83 / 672) - (307px / 7));

    background: transparent;
}
.description-box{
    font-family: 'Montserrat';
    font-size: calc(100vw * 18 / 1440);
    font-weight: 400;
    line-height: calc(100vw * 22/1440);

    padding-top: 0;
    padding-right: calc(100vw * 27 /1440);
    padding-left: 0;
}
// список описаний слайдов <ul>
.description-box__list-box{
    display: flex;
    flex-direction: column;

    position: relative;
    
}
// декоративная вертикальная направляющая
.description-box__list-box::before{
    position: absolute;
    content: '';
    width: 0px;
    height: 100%;
    border-left: calc(100vw * 2 / 1440) solid #97A297;
    left: calc(100vw * (-16) / 1440);
    
}
// элемент списка с описанием слайда <li>
.list-box__item-box{
    margin-top: 0;
    margin-bottom: 0;
}
.list-box__item-box + .list-box__item-box{
    margin-top: calc(100vw * 29 / 1440);
}
.list-box__item-box:hover{
    cursor: pointer;
}
// декоративные элементы для сокрытия концов вертикальной направляющей
.list-box__item-box:first-child > .item-box__desc::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    width: 20px;
    height: calc(50% - 100vw * 5 / 1440);
    top: 0;
    background: rgb(15, 37, 14);
}
.list-box__item-box:last-child > .item-box__desc::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    width: 20px;
    height: calc(50% - 100vw * 5 / 1440);
    bottom: 0;
    background: rgb(15, 37, 14);
}
// активный элемент списка == описание активного слайда
.list-box__item-box_active{
    >.item-box__desc{
        color: #F1F5F2;
    }
    >.item-box__desc::before{
        background: #fff;
        border-color: #fff;
    }
}
// описание слайда
.item-box__desc{
    color:rgba(241, 245, 242, 0.6);
    position: relative;
    
}
// декоративные точки-пункты слайдера
.item-box__desc::before{
    content: '';
    display: block;
    width: calc(100vw * 10 / 1440);
    height: calc(100vw * 10 / 1440);
    border-radius: 50%;
    border: calc(100vw * 2 / 1440) solid #97A297;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: calc(100vw * -20 / 1440);

    background: rgb(15, 37, 14);
}

// описание слайда
.slide-itm__desc{

}
// -------------

// блок индикации и управления слайдера <ul>
.slider-box__control{
    display: flex;
    flex-direction: column;
    width: calc(100vw * 5 / 1440);
    height: calc(100vw * 53 / 1440);
    justify-content: space-between;
    position: absolute;
    top: calc(100vw * 617 / 1440);
    left: calc(100vw * 646 / 1440);

    display: none;
}
// элемент индикации <li>
.slider-box__control-item{
    width: 100%;
    height: calc(100vw * 5 / 1440);
    background: rgba(233, 233, 233, 0.3);


}
// индикатор активного слайда
.slider-box__control-item_active{
    background: #E9E9E9;
}

// ----- Ограничители -----
@media screen and (min-width: 1440px){
    .slider-box__title{
        // top: 106px;
        top: 66px;
        // left: 272px;
        left: 155px;

        // font-size: 48px;
        font-size: 40px;
        // line-height: 59px;
        line-height: 49px;

    }
    .slider__slider-box{
        width: 1440px;
        height: 700px;
        margin-top: 125px;
    }
    // блок с описанием слайдов
    .slider-box__description-box{
        position: absolute;
        width: 485px;
        // min-height: 550px;
        // background: #34471E;
        
        top: 186px;
        // left: 154px;
        left: 134px;
    }
    .description-box{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;

        // padding-top: 31px;
        padding-top: 0;
        padding-right: 27px;
        // padding-left: 51px;
        padding-left: 0;
    }
    .description-box__list-box::before{
        left: -16px;
        border-width: 2px;
        
    }
    // элемент списка с описанием слайда <li>
    .list-box__item-box{
        // margin-top: 24px;
        margin-top: 0;
        // margin-bottom: 24px;
        margin-bottom: 0;
    }
    .list-box__item-box + .list-box__item-box{
        margin-top: 29px
    }
    // декоративные точки-пункты слайдера
    .item-box__desc::before{
        // width: 5px;
        width: 10px;
        // height: 5px;
        height: 10px;
        border-width: 2px;
        left: -20px;
    }
    // декоративные элементы для сокрытия концов вертикальной направляющей
    .list-box__item-box:first-child > .item-box__desc::after{
        height: calc(50% - 5px);
    }
    .list-box__item-box:last-child > .item-box__desc::after{
        height: calc(50% - 5px);
    }
    // активный элемент списка == описание активного слайда
    .list-box__item-box_active{
        >.item-box__desc::before{
            // width: 5px;
            // width: 10px;
            // height: 5px;
            // height: 10px;
            // border-radius: 50%;
            
            // background: #fff;
            // border-color: #fff;
            // // top: 9px;
            // top: 0;
            // bottom: 0;
            // margin-top:auto;
            // margin-bottom: auto;
            
            // left: -20px;
        }
    }
    // viewfinder контейнер для ленты со слайдами
    .slider-box__tape-hiding-box{
        // width: 749px;
        width: 749px;
        // height: 554px;
        height: 554px;

        // top: 51px;
        // right: 112px;
        right: 51px;
    }
    // блок индикации и управления слайдера <ul>
    .slider-box__control{
        width: 5px;
        height: 53px;

        top: 617px;
        left: 646px;
    }
    // элемент индикации <li>
    .slider-box__control-item{
        height: 5px;
    }
}
// ----- Стили для мобильной версии -----
@media screen and (max-width:767px){
    // общий контейнер слайдера
    .slider__slider-box{
        margin-top: 0;
        width: 100%;
        // height: calc(100vw * (517 / 320) );
        height: calc(100vw * (29469 / 31808) + (109604px / 497));
        flex-direction: column;
    }
    .slider-box{

    }
    // заголовок слайдера
    .slider-box__title{
        // 42px при vw:768px
        // 27px при vw:320px
        font-size: calc(100vw * (15 / 448) + (114px / 7)); /* vw:320px */
        position: static;
        width: 100%;
        text-align: center;
        display: block;  
        padding-top: calc(100vw * 15 / 320); /* 15px vw:320px; */
        padding-bottom: calc(100vw * 15 / 320); /* 15px vw:320px; */
    }
    // ---------------------
    // viewfinder контейнер для ленты со слайдами
    .slider-box__tape-hiding-box{
        display: block;
        // width: 310px; /* vw:320px */
        width: calc(100vw * 310 / 320);
        // height: calc(310px * 554 / 749); /* vw:320px */
        height: calc(100vw * (310 * 554) / (749 * 320));
        position: static;
        align-self: center;
    }

    // лента со слайдами - картинками <ul>
    .tape-hiding-box__tape{
        display: inline-flex;
        position: relative;
        width: auto;
        height: 100%;
        transform: translateX(0px); // намёк, что лента будет двигаться с помощью translateX()
        transition: transform 0.5s;
    }   
    // слайд == контейнер для картинки <li>
    .tape-hiding-box__tape-item{
        position: static;
        opacity: 1;
        width: calc(100vw * 310 / 320);
        height: 100%;
    }
    // "активный" слайд (активный элемент с картинкой)
    .tape-hiding-box__tape-item_active{
        // opacity: 1;
        // z-index: 0;
    }

    // -----------------------
    // блок с описанием слайдов
    .slider-box__description-box{
        position: static;
        // width: calc(100vw * 485 / 1440);
        width: 100%;
        // min-height: calc(100vw * 550 / 1440);
        min-height: auto;


        background: transparent;
        // top: calc(100vw * 186 / 1440);
        // left: calc(100vw * 154 / 1440);
        order: 1;
        flex-grow: 1;
    }
    .description-box{
        // font-family: 'Montserrat';
        // 22px при vw:768px
        // 18px при vw:320px;
        font-size: calc(100vw * (1 / 112) + (106px / 7)); /*vw:320px*/
        // font-weight: 400;
        line-height: 1.2;
        // line-height: calc(100vw * 22/1440);
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: center;
        // padding-bottom:20px при vw:767px; padding-bottom:10px при vw:320px
        padding-bottom: calc(100vw * (10 / 447) + (1270px / 447));
        // display: none;
        // padding-top: calc(100vw * 31/ 1440);
        // padding-right: calc(100vw * 27 /1440);
        // padding-left: calc(100vw * 51 / 1440);
                
    }
    // список описаний слайдов <ul>
    ul.description-box__list-box{
        display: inline-flex;
        flex-direction: row;
        // width: calc(100vw * 310 / 320);
        width: calc(100% * 310 / 320);
        // height: 128px; /* vw:320px; */
        min-height: 90%;
        flex-wrap: nowrap;
        position: relative;
        // border-radius: 6px;
        padding: 0 20px;

        // background-color: rgb(52, 71, 30);
        //rgb(15,37,14); + 20
        // rgb(52, 71, 30) +20;
        background-color: rgb(72, 91, 50);
    }
    ul.description-box__list-box::before{
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
    }
    ul.description-box__list-box::after{
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(135deg);
    }
    // декоративные элементы для сокрытия концов вертикальной направляющей
    .list-box__item-box:first-child > .item-box__desc::after,
    .list-box__item-box:last-child > .item-box__desc::after{
        display: none;
    }
    // элемент списка с описанием слайда <li>
    .list-box__item-box{
        // margin-top: calc(100vw * 24 / 1440);
        margin-top: 0;
        margin-bottom: 0;
        // margin-bottom: calc(100vw * 24 / 1440);
        // width: 100vw;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        // left: 0;
        // right: 0;
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        left: 20px;

        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .list-box__item-box:hover{
        cursor: auto;
    }
    // активный элемент списка == описание активного слайда
    .list-box__item-box_active{
        opacity: 1;
        z-index: 0;
        
        >.item-box__desc{
            color: #F1F5F2;
            position: static;
        }
        
        >.item-box__desc::before{
            display: none;
        }
    }
    // описание слайда
    .item-box__desc{
        // color:rgba(241, 245, 242, 0.6);
    }

    // -----------------------

    // блок индикации и управления слайдера <ul>
    ul.slider-box__control{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        
        position: static;
        justify-content: center;
        padding-top: calc(100vw * 15 / 320); /* 15px vw:320px */
        padding-bottom: calc(100vw * 15 / 320); /* 15px vw:320px */
    }
    // элемент индикации <li>
    .slider-box__control-item{
        // 15px при vw:768px
        // 10px при vw:320px;
        width: calc(100vw * (5 / 448) + (45px / 7)); /* vw:320px*/
        height: calc(100vw * (5 / 448) + (45px / 7)); /* vw:320px*/
        background: rgba(233, 233, 233, 0.3);
    }
    .slider-box__control-item + .slider-box__control-item {
        margin-left: 5px; /* vw:320px*/
    }
    // индикатор активного слайда
    .slider-box__control-item_active{
        background: #E9E9E9;
    }

}
@media screen and (max-width: 320px){
    // общий контейнер слайдера
    .slider__slider-box{
        margin-top: 0;
        width: 320px;
        height: 517px;
    }    
    
    // заголовок слайдера
    .slider-box__title{
        font-size: 27px; // при vw:320px
        padding-top: 15px; // при vw:320px
        padding-bottom: 15px; // при vw:320px
    }
    
    // viewfinder контейнер для ленты со слайдами
    .slider-box__tape-hiding-box{
        width: 310px; /* vw:320px */
        height: calc(310px * 554 / 749); /* vw:320px */
    }
    
    // элемент списка слайдов == контейнер для описания и картинки <li>
    .tape-hiding-box__tape-item{
        width: 310px; /* vw: 320px */
    }
    
    // блок с описанием слайдов
    .description-box{
        font-size: 18px; // vw: 320px
    }
    
    // список описаний слайдов <ul>
    ul.description-box__list-box{
        width: 310px; // vw: 320px
        // height: calc(320px * 0.9); // vw: 320px
    }
    
    
    // блок индикации и управления слайдера <ul>
    ul.slider-box__control{
        padding-top: 15px; // vw: 320px
        padding-bottom: 15px; // vw: 320px
    }
    
    // элемент индикации <li>
    .slider-box__control-item{
        width: 10px; // vw: 320px
        height: 10px; // vw: 320px
    }

}