section.steps
    .steps__steps-box.steps-box
        .steps-box__title 
            span Покупайте уникальный участок от собственника
            span по акции: "Берёте землю - счастье в подарок"
        ul.steps-box__list
            li.steps-box__item
                .steps-box__number 1
                .steps-box__description Заполнение заявки на сайте или звонок нам
            li.steps-box__item 
                .steps-box__number 2
                .steps-box__description Просмотр участка
            li.steps-box__item
                .steps-box__number 3
                .steps-box__description Предварительный договор
            li.steps-box__item
                .steps-box__number 4
                .steps-box__description Подписание основного договора
        .steps-box__price-box#price
            .steps-box__price-content
                .steps-box__price-title Уникальная цена 
                .steps-box__price-value 1 500 000 рублей